earthengine-api==1.7.4
geemap>=0.30.0
google-cloud-storage==2.10.0
google-auth==2.25.2
google-auth-oauthlib==1.2.0
numpy>=2.0.0
pandas>=2.2.0
Pillow>=10.0.0
plotly>=5.17.0
matplotlib>=3.7.2
seaborn>=0.12.2
requests>=2.31.0
ipython>=8.15.0
streamlit>=1.28.1
streamlit-folium>=0.15.0
geojson>=3.0.0
